@model IEnumerable<qldoansvhutech.Models.Gvhd>

@{
    ViewBag.Title = "ThongTinDoAn";
    Layout = "~/Views/Shared/LayoutSV.cshtml";
}

<div class="container-fluid" style="margin-top:30px;width:70%;">
    <center>
        <div class="row">
            <div class="col-12">
                <h1>THÔNG TIN GVHD</h1>
                <table style="margin-top:20px" class="table">
                    <tr>
                        <th>
                            Tên  :
                        </th>
                        <th>
                            Sdt :
                        </th>
                        <th>
                            Email :
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hoten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
                    }

                </table>
            </div>
        </div>
    </center>
</div>